---

    interface Props{
      text_amount_loan: string,
      text_tasa_loan: string,
      text_cuotas: string,
      text_frecuencia: string,
      text_select_cuotas: string,
      text_select_frecuencia: string,
      simulate_loan_text: string,
      calcular_inicio: string,
    }

    const {
        text_amount_loan,
        text_tasa_loan,
        text_cuotas,
        text_frecuencia,
        text_select_cuotas,
        text_select_frecuencia,
        simulate_loan_text,
        calcular_inicio
    } = Astro.props;

    const monto = Astro.url?.searchParams.get("monto") || null;
    const cuotas = Astro.url?.searchParams.get("cuotas") || null;
    const frecuencia = Astro.url?.searchParams.get("frecuencia") || null;

    let isSimulateLoan = false;

    if(monto != null && cuotas != null && frecuencia != null){
      isSimulateLoan = true;
    }

---

<section class="relative top-20 w-screen min-h-full flex flex-col justify-center items-center" {...Astro.props}>
  <article class="w-full flex flex-col justify-center items-center h-fit py-10 bg-gradient-to-r to-[#0074D3] from-[#0040A8]">
    <div class="w-full h-fit gap-x-5 flex flex-col justify-between items-start max-w-7xl max-xl:px-5">
      <nav class="flex px-5 py-3 w-fit ml-5 mb-3 -mt-8 rounded-lg bg-gray-800 border-gray-700 drop-shadow-lg" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
          <li class="inline-flex items-center">
            <a href="/" class="inline-flex items-center text-sm font-medium hover:text-blue-600 text-gray-400">
              <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"></path>
              </svg>
              Home
            </a>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <svg class="rtl:rotate-180 w-3 h-3 mx-1 text-gray-400"aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
              </svg>
              <span class="ms-1 text-sm font-medium md:ms-2 text-gray-400">Simular Prestamos</span>
            </div>
          </li>
        </ol>
      </nav>

      <div class="w-full px-5 flex justify-center my-3">
        <h1 class="text-white text-3xl font-bold">{simulate_loan_text}</h1>
      </div>

      <form id="form-simulate-loan" class="w-full h-full p-5">
        <div class="w-full h-full grid grid-cols-2 gap-x-5 gap-y-8 max-sm:grid-cols-1">
          <div class="bg-slate-800 flex flex-col justify-center items-center p-7 gap-y-3 shadow-lg shadow-gray-900 rounded-lg text-white font-bold">
            <label for="monto-simulate-loan" class="w-full">
              {text_amount_loan} *
            </label>
            <div class="flex justify-between w-full gap-5 items-center">
              <div class="relative mb-1 w-full">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail-dollar w-5 h-5 text-gray-400">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M13.5 19h-8.5a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v3.5" />
                      <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                      <path d="M19 21v1m0 -8v1" />
                      <path d="M3 7l9 6l9 -6" />
                    </svg>
                  </div>
                  <input type="number" id="monto-simulate-loan" class="transition-all duration-500 outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-900 border-slate-900 placeholder-gray-400" placeholder={text_amount_loan} required>
              </div>        
  
              <svg
                id="info-monto-simulate-loan"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                <path d="M12 9h.01"></path><path d="M11 12h1v4h1"></path>
              </svg>
            </div>
          </div>

          <div
            class="bg-slate-800 flex flex-col justify-center items-center p-7 gap-y-3 shadow-lg shadow-gray-900 rounded-lg text-white font-bold"
          >
            <label for="tasa-simulate-loan" class="w-full">
              {text_tasa_loan}</label
            >
            <div
              class="input-with-icon flex justify-between w-full gap-5 items-center"
            >
              <div class="relative mb-1 w-full">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-businessplan w-5 h-5 text-gray-400">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M16 6m-5 0a5 3 0 1 0 10 0a5 3 0 1 0 -10 0" />
                      <path d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                      <path d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                      <path d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                      <path d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                      <path d="M5 15v1m0 -8v1" />
                    </svg>
                  </div>
                  <input type="text" id="tasa-simulate-loan" class="transition-all duration-500 outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4 bg-slate-900 border-slate-900 placeholder-gray-400" value={"Loading..."} disabled>
                </div> 

              <svg
                id="tasa-monto-simulate-loan"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                <path d="M12 9h.01"></path><path d="M11 12h1v4h1"></path>
              </svg>
            </div>
          </div>

          <div
            class="bg-slate-800 flex flex-col justify-center items-center p-7 gap-y-3 shadow-lg shadow-gray-900 rounded-lg text-white font-bold"
          >
            <label for="plazo-simulate-loan" class="w-full"
              >{text_cuotas} *</label
            >
            <div class="flex justify-between w-full gap-5 items-center">
              <div class="relative mb-1 w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-dollar w-5 h-5 text-gray-500 text-gray-400">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M13 21h-7a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
                        <path d="M16 3v4" />
                        <path d="M8 3v4" />
                        <path d="M4 11h12.5" />
                        <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                        <path d="M19 21v1m0 -8v1" />
                    </svg>
                </div>
                <select
                id="plazo-simulate-loan"
                name="plazo-simulate-loan"
                class="transition-all duration-500 outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-900 border-slate-900 placeholder-gray-400"
                required
              >
                <option value="" disabled selected hidden>{text_select_cuotas}</option>
                <option value="3 cuotas">3 cuotas</option>
                <option value="6 cuotas">6 cuotas</option>
                <option value="12 cuotas">12 cuotas</option>
                <option value="24 cuotas">24 cuotas</option>
                <option value="36 cuotas">36 cuotas</option>
                <option value="48 cuotas">48 cuotas</option>
            </select>
            </div>
            </div>
          </div>

          <div
            class="bg-slate-800 flex flex-col justify-center items-center p-7 gap-y-3 shadow-lg shadow-gray-900 rounded-lg text-white font-bold"
          >
            <label for="frecuencia-simulate-loan" class="w-full"
              >{text_frecuencia} *</label
            >
            <div class="flex justify-between w-full gap-5 items-center">
              <div class="relative mb-1 w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-dollar w-5 h-5 text-gray-500 text-gray-400">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M13 21h-7a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
                        <path d="M16 3v4" />
                        <path d="M8 3v4" />
                        <path d="M4 11h12.5" />
                        <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                        <path d="M19 21v1m0 -8v1" />
                    </svg>
                </div>
                <select
                id="frecuencia-simulate-loan"
                name="frecuencia-simulate-loan"
                class="transition-all duration-500 outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-900 border-slate-900 placeholder-gray-400"
                required
              >
                <option value="" disabled selected
                  >{text_select_frecuencia}</option
                >
                <option value="mensual">Mensual</option>
                <option value="trimestral">Trimestral</option>
                <option value="semestral">Semestral</option>
                <option value="anual">Anual</option>
              </select>
            </div>

            </div>
          </div>
        </div>

        <div class="w-full mt-8 flex items-center gap-x-5">
          <input
            type="submit"
            id="btn-simulate-loan"
            class="bg-yellow-400 py-2 px-3 rounded-sm text-black font-semibold hover:bg-yellow-500 w-fit cursor-pointer"
            value={calcular_inicio}
          />

          <label for="btn-simulate-loan" class="text-red-500 font-bold hidden">
            No se pudo hacer el calculo correctamente, intente de nuevo por
            favor.
          </label>
        </div>
      </form>

      <div id="content-table-simulate-loan" class="overflow-x-auto w-full mx-5 rounded-lg mt-10 hidden">
        <div class="w-full text-white">
          <table class="w-full h-full border-2 border-slate-800 bg-slate-800">
            <thead class="py-1.5 w-full h-full">
              <tr class="w-full">
                <th class="px-3 py-2">Año</th>
                <th class="px-3 py-2">Saldo Capital</th>
                <th class="px-3 py-2">Pago Capital</th>
                <th class="px-3 py-2">Pago de interes</th>
                <th class="px-3 py-2">Monto de Pago</th>
                <th class="px-3 py-2">Plazo en dias</th>
                <th class="px-3 py-2">Saldo Final</th>
                <th class="px-3 py-2">Numero de Pago</th>
                <th class="px-3 py-2">Fecha</th>
              </tr>
            </thead>
            <tbody id="body-table-simulate-loan" class="bg-slate-700">
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
  </article>
</section>

<div id="content-warning-rate-simulate" class="w-full h-full fixed z-50 left-0 top-0 bg-black/70 hidden justify-center items-center px-2">
  <div id="toast-warning-simulate" class="flex items-center w-fit gap-3 p-5 rounded-lg shadow text-gray-400 bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg bg-orange-700 text-orange-200">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
        </svg>
    </div>
    <div class="ms-3 text-xl font-normal max-w-[25rem]">Por favor, espere a que la tasa de interes cargue.</div>
    <button id="close-warning-simulate" type="button" class="ms-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 inline-flex items-center justify-center h-8 w-8 text-gray-500 hover:text-white bg-gray-800 hover:bg-gray-700" data-dismiss-target="#toast-warning-simulate" aria-label="Close">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
  </div>
</div>

<style>
  #tasa-simulate-loan:disabled {
    background-color: white;
  }

  #tasa-simulate-loan:disabled{
    background-color: rgb(15,23,42);
  }
</style>

<script>
  let close_warning = document.querySelector("#close-warning-simulate") as HTMLButtonElement;
  let content_warning_rate = document.querySelector("#content-warning-rate-simulate") as HTMLElement;

  close_warning?.addEventListener("click", () => {
    content_warning_rate.style.display = window.getComputedStyle(content_warning_rate).display == "none" ? "flex" : "none";  
  });

  let params = new window.URL(window.location.href).searchParams;
  let cuotas_value = Number(params.get("cuotas")) || null;
  let frecuencia_value = Number(params.get("frecuencia")) || null;
  let monto_value = Number(params.get("monto")) || null;
  let tasa_value = Number(params.get("tasa")) || null;

  if(cuotas_value != null && frecuencia_value != null && monto_value != null && tasa_value != null) {
    const cuotas = document.querySelector("#plazo-simulate-loan") as HTMLSelectElement;
    const frecuencia = document.querySelector("#frecuencia-simulate-loan") as HTMLSelectElement
    const monto = document.querySelector("#monto-simulate-loan") as HTMLInputElement;
    cuotas.selectedIndex = cuotas_value;
    frecuencia.selectedIndex = frecuencia_value;
    monto.value = monto_value.toString();

    (document.querySelector("#content-table-simulate-loan") as HTMLElement).style.display = "initial";
    simulateLoan(monto_value, tasa_value, frecuencia.value, Number(cuotas.value.split(" ")[0]));
  }

  function formatNumber(number: any) {
      let [integerPart, decimalPart] = String(number).split('.');

      integerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, '.');

      if (decimalPart) {
          return `${integerPart},${decimalPart}`;
      } else {
          return integerPart;
      }
  }

  function simulateLoan(monto: any, tasa: any, frecuencia: any, plazo: any){
      const tasa_interes_mensual = (tasa / 100) / 12;
      let total_pagos;
      let frecuencia_value;
    
      switch (frecuencia) {
          case 'mensual':
              total_pagos = plazo;
              frecuencia_value = 1;
              break;
          case 'trimestral':
              total_pagos = plazo / 3;
              frecuencia_value = 3;
              break;
          case 'semestral':
              total_pagos = plazo / 6;
              frecuencia_value = 6;
              break;
          case 'anual':
              total_pagos = plazo / 12;
              frecuencia_value = 12;
              break;
          default:
              console.error('Frecuencia de pago no válida');
              return;
      }

      let pago_restante = monto;
      let pago_mensual = (monto * tasa_interes_mensual) / (1 - Math.pow(1 + tasa_interes_mensual, -total_pagos));

      let body_table_simulate_loan = document.querySelector("#body-table-simulate-loan") as HTMLElement;
      body_table_simulate_loan.innerHTML = '';

      interface PropsData {
        saldo_capital: any,
        pago_capital: any,
        pago_interes: any,
        monto: any,
        plazo: any,
        saldo_final: any,
        numero_pago: any,
        fecha: any
      }

      for(let i = 1; i <= total_pagos; i++){
          let data: PropsData = {
              saldo_capital:1,
              pago_capital: 1,
              pago_interes: 1,
              monto: 1,
              plazo: 30,
              saldo_final: 1,
              numero_pago: 1,
              fecha: 1
          }

          let pago_interes = pago_restante * tasa_interes_mensual;
          let pago_principal = pago_mensual - pago_interes;
          let pago_total = pago_interes + pago_principal;
          let pago_final = pago_restante - pago_principal
          const currentDate = new Date();
          currentDate.setMonth(currentDate.getMonth() + i * frecuencia_value);
          const formattedDate = currentDate.toLocaleDateString('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit' });
          const row = document.createElement('tr');
          if(i == 1){
            row.innerHTML = `
            <td class="text-center py-2 px-4 rounded-tl-lg">1</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_restante.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_principal.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_interes.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_total.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">30</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_final.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">${i}</td>
            <td class="text-center py-2 px-4 rounded-tr-lg">${formattedDate}</td>
        `;
        }else if(i == total_pagos){
            row.innerHTML = `
            <td class="text-center py-2 px-4 rounded-bl-lg">1</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_restante.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_principal.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_interes.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_total.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">30</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_final.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">${i}</td>
            <td class="text-center py-2 px-4 rounded-br-lg">${formattedDate}</td>
        `;
        }else{
            row.innerHTML = `
            <td class="text-center py-2 px-4 ">1</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_restante.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_principal.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_interes.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_total.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">30</td>
            <td class="text-center py-2 px-4 ">$${formatNumber(pago_final.toFixed(2))}</td>
            <td class="text-center py-2 px-4 ">${i}</td>
            <td class="text-center py-2 px-4 ">${formattedDate}</td>
        `;
        }

          body_table_simulate_loan.appendChild(row);

          pago_restante = pago_final;
      }

  }

  setInterval(() => {
    if(!tasa_value){
      return;
    }
    const tasa = document.querySelector("#tasa-simulate-loan") as HTMLInputElement;
    tasa.value = tasa_value + "%";
    return;
  }, 100);
</script>
