---
interface Props{
    num_id: string,
    date: string,
    nombre: string,
    code: number
}

const {num_id, date, nombre, code} = Astro.props;

import {getSession} from 'auth-astro/server';
const session = await getSession(Astro.request);
let img_profile: any;

if(session){
  img_profile = session.user?.image;
}else{
  img_profile = "false"
}
---

<div id="contentTarget" class="flex items-center justify-between w-full mb-3 -mt-2">
    {
        img_profile != "false" ? (
          <img src={img_profile} id="image_profile" class="w-12 h-12 object-cover rounded-[50%]"/>
        ) : (
          <img id="image_profile" src="" class="w-12 h-12 object-cover rounded-[50%]"/>
        )
      }
    <img src="../../icons/logo-nobackground-best.png" class="h-16">
</div>
<div id="contentTarget" class="flex flex-col gap-2">
    <p id="id-card" class="text-lg text-white">{num_id}</p>
    <p class="text-white">{date}</p>
</div>
<div id="contentTarget" class="p-1 mt-0">
    <h2 class="text-xl font-blod text-right text-white">
        {nombre}
    </h2>
</div>


<style>
    @media(max-width 620px;){
        #contentTarget {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 1rem;
        }
    }
</style>