---
interface Props{
    num_id: string,
    date: string,
    nombre: string,
    code: number
}

const {num_id, date, nombre, code} = Astro.props;

import {getSession} from 'auth-astro/server';
const session = await getSession(Astro.request);
let img_profile: any;

if(session){
  img_profile = session.user?.image;
}else{
  img_profile = "false"
}

---

<div id="contentTarget" class="flex items-center justify-between w-full mb-3 -mt-2">
    {
        img_profile != "false" ? (
          <img src={img_profile} class="w-12 h-12 object-cover rounded-[50%]"/>
        ) : (
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="rgb(250 204 21)"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-poker-chip h-12">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M12 12m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" />
                <path d="M12 3v4" />
                <path d="M12 17v4" />
                <path d="M3 12h4" />
                <path d="M17 12h4" />
                <path d="M18.364 5.636l-2.828 2.828" />
                <path d="M8.464 15.536l-2.828 2.828" />
                <path d="M5.636 5.636l2.828 2.828" />
                <path d="M15.536 15.536l2.828 2.828" />
            </svg>
        )
      }
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="fill"  stroke="white"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-steam h-12">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
        <path d="M4 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
        <path d="M20 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
        <path d="M12 20m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
        <path d="M5.5 5.5l3 3" />
        <path d="M15.5 15.5l3 3" />
        <path d="M18.5 5.5l-3 3" />
        <path d="M8.5 15.5l-3 3" />
    </svg>
</div>
<div id="contentTarget" class="flex flex-col gap-2">
    <p id="id-card" class="text-lg text-white">{num_id}</p>
    <p class="text-white">{date}</p>
</div>
<div id="contentTarget" class="p-1 mt-0">
    <h2 class="text-xl font-blod text-right text-white">
        {nombre}
    </h2>
</div>


<style>
    @media(max-width 620px;){
        #contentTarget {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 1rem;
        }
    }
</style>