---
interface Props{
    img_url: string;
    type_loan_text: string;
    date_text: string;
    amount: any;
    is_positive: string;
}

const {img_url, type_loan_text, date_text, amount, is_positive} = Astro.props;
---

<div class="flex justify-between items-center">
    <div class="flex justify-center items-center gap-x-3">
        <div>
            <img src={img_url} alt="" class="w-12 h-12 drop-shadow-lg">
        </div>

        <div class="flex flex-col">
            <span class="text-white text-sm font-bold">
                {type_loan_text}
            </span>
            <span class="text-gray-300 text-xs font-bold">
                {date_text}
            </span>
        </div>
    </div>

    <div>
        {
        is_positive == "positivo" ? (
            <span id="positive" class="text-lime-400 font-bold text-sm">
                +{amount} $
            </span>
        ): (
            <span id="negative" class="text-red-400 font-bold text-sm">
                -{amount} $
            </span>
        )
        }
    </div>
</div>

<style>
    .drop-shadow-lg {
      --tw-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.4));
    }
</style>