---
import ButtonConfiguration from "./ButtonConfiguration.astro";
import Profile from '../Profile.astro';
import Notification from "../Notification.astro";
import Privacy from "../Privacy.astro";
import Security from "../Security.astro";

import {SignOut} from 'auth-astro/components';

interface Props{
  isGoogle: boolean,

  //Translate

  //Profile
  title_profile_text: string,
  description_profile_text: string,
  subtitle_profile_text: string,
  description_subtitle_profile_text: string,
  update_text: string,
  profile_picture_text: string,
  description_profile_picture_text: string,

  //Notifications
  description_notifications_text: string,
  subtitle_notifications_text: string,
  subdescription_notifications_text: string,
  subtitle2_notifications_text: string,
  subdescription2_notifications_text: string,
  title_movements_text: string,
  title_Transfer_text: string,
  title_others_text: string,

  //Privacy
  title_privacy_text: string,
  description_privacy_text: string,
  subtitle_privacy_text: string,
  subdescription_privacy_text: string,
  subtitle2_privacy_text: string,
  subdescription2_privacy_text: string,
  consent_text: string,
  current_password_text: string,
  change_password_text: string,

  //Security
  title_security_text: string,
  description_security_text: string,
  subtitle_security_text: string,
  subdescription_security_text: string,
  subtitle2_security_text: string,
  subdescription2_security_text: string,
  active_2fa_text: string,
  configure_2fa_text: string,
  code_auth_text: string,

  //Exists
  username_text: string,
  id_number_text: string,
  phone_text: string,
  email_text: string,
  notifications_text: string,
  title_loan_text: string,
  text_new_password_invert: string,
  text_repeat_new_password: string,
  text_confirm: string,
}

//Variables translate

//Profile
const {title_profile_text, description_subtitle_profile_text, subtitle_profile_text,
    description_profile_picture_text, description_profile_text, profile_picture_text,
    update_text
} = Astro.props;

//Notifications
const {description_notifications_text, subtitle_notifications_text,
    subdescription_notifications_text, subtitle2_notifications_text, subdescription2_notifications_text,
    title_movements_text, title_Transfer_text, title_others_text
} = Astro.props;

//Privacy
const {title_privacy_text, description_privacy_text, subtitle_privacy_text,
  subdescription_privacy_text, subtitle2_privacy_text, subdescription2_privacy_text,
  consent_text, current_password_text, change_password_text,
} = Astro.props;

//Security
const {title_security_text, description_security_text, subtitle_security_text,
    subdescription_security_text, subtitle2_security_text, subdescription2_security_text,
    active_2fa_text, configure_2fa_text, code_auth_text
} = Astro.props;

//Exists
const {notifications_text, title_loan_text, username_text, id_number_text, phone_text, email_text, text_new_password_invert, text_repeat_new_password, text_confirm} = Astro.props;

const {isGoogle} = Astro.props;

let response_data_user: Response;
let response_user_exist: Response;

let data_user_exist: any;
let data_user: any;

let isContinue = true;
let err: any;

const id_user = (Astro.cookies.get("ID-USER") || {})?.value;
const initiated = (Astro.cookies.get("W-INIT-ENT") || {})?.value;

try{
    if(initiated != "false"){
        response_user_exist = await fetch(`http://localhost:4000/user/exists?id_user=${id_user}`);
        data_user_exist = await response_user_exist.json();

        if(data_user_exist.state == "Good Request"){
            response_data_user = await fetch(`http://localhost:4000/user/data?id_user=${id_user}`);
            data_user = await response_data_user.json();
        }else{
            throw new Error("Error in the request to the server");
        }
    }
}catch(e){
    isContinue = false;
    err = e;
}

---

{
  isContinue ? (
  <section class="bg-black/50 fixed top-0 -right-full h-full w-full z-50 justify-end flex transition-all duration-500 ease-in" id="content-configurations">
    <div class="bg-slate-800 shadow-lg shadow-gray-900 w-full flex flex-col">
      <header class="flex justify-start gap-4 items-center p-4 rounded-t-sm border-b-2 border-blue-500 w-full h-fit" >
        <span id="close_configurations" class="w-fit h-fit p-1 cursor-pointer hover:bg-slate-700 transition-all duration-150 ease-in rounded-[3px]">
          <svg class="icon icon-tabler icons-tabler-outline icon-tabler-x h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </span>
        <h1 class="text-2xl text-white max-[490px]:text-lg">Configuraciones</h1>
      </header>

      <section class="w-full h-full flex bg-black/30">
        <div class="w-[20%] max-lg:w-[30%] max-sm:w-fit max-sm:px-1.5 h-full flex flex-col px-5 py-5 gap-4">
          <ButtonConfiguration text="Profile" data_text="profile" id_button="sub_btn_configurations">
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle h-8 max-lg:h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
              <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
              <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
            </svg>
          </ButtonConfiguration>

          <ButtonConfiguration text="Notifications" data_text="notification" id_button="sub_btn_configurations">
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-bell h-8 max-lg:h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
              <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
            </svg>
          </ButtonConfiguration>

          <ButtonConfiguration text="Privacy" data_text="privacy" id_button="sub_btn_configurations">
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-lock-square h-8 max-lg:h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M8 11m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z" />
              <path d="M10 11v-2a2 2 0 1 1 4 0v2" />
              <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
            </svg>
          </ButtonConfiguration>

          <ButtonConfiguration text="Security" data_text="security" id_button="sub_btn_configurations">
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle h-8 max-lg:h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
              <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
              <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
            </svg>
          </ButtonConfiguration>
          
          {
            isGoogle ? (
                <SignOut id="button_logout_google">
                  <ButtonConfiguration text="Log out" data_text="logout" id_button="button_logout_google">
                    <svg class="icon icon-tabler icons-tabler-outline icon-tabler-logout-2 h-8 max-lg:h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                      <path d="M15 12h-12l3 -3" />  
                      <path d="M6 15l-3 -3" />
                    </svg>
                  </ButtonConfiguration>
                </SignOut>
            ):(
              <ButtonConfiguration text="Log out" data_text="logout" id_button="button_logout">
                <svg class="icon icon-tabler icons-tabler-outline icon-tabler-logout-2 h-8 max-lg:h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                  <path d="M15 12h-12l3 -3" />
                  <path d="M6 15l-3 -3" />
                </svg>
              </ButtonConfiguration>
            )
          }
        </div>

        <div class="flex flex-col w-[80%] max-sm:w-full h-full bg-black/50 p-5 gap-5">
          <Profile data_id="profile" username={data_user?.user_register[0]?.username} id={data_user?.user_register[0]?.numero_identidad} phone={data_user?.user_register[0]?.numero_telefono} email={data_user?.user_register[0]?.email}
            title_profile_text={title_profile_text}
            description_profile_text={description_profile_text}
            subtitle_profile_text={subtitle_profile_text}
            description_subtitle_profile_text={description_subtitle_profile_text}
            update_text={update_text}
            profile_picture_text={profile_picture_text}
            description_profile_picture_text={description_profile_picture_text}
            username_text={username_text}
            id_number_text={id_number_text}
            phone_text={phone_text}
            email_text={email_text}
          />
          <Security data_id="security"
                title_security_text={title_security_text}
                description_security_text={description_security_text}
                subtitle_security_text={subtitle_security_text}
                subdescription_security_text={subdescription_security_text}
                subtitle2_security_text={subtitle2_security_text}
                subdescription2_security_text={subdescription2_security_text}
                active_2fa_text={active_2fa_text}
                configure_2fa_text={configure_2fa_text}
                code_auth_text={code_auth_text}
                email_text={email_text}
                text_confirm={text_confirm}
          />
          <Privacy data_id="privacy"
                title_privacy_text={title_privacy_text}
                description_privacy_text={description_privacy_text}
                subtitle_privacy_text={subtitle_privacy_text}
                subdescription_privacy_text={subdescription_privacy_text}
                subtitle2_privacy_text={subtitle2_privacy_text}
                subdescription2_privacy_text={subdescription2_privacy_text}
                consent_text={consent_text}
                current_password_text={current_password_text}
                change_password_text={change_password_text}
                text_new_password_invert={text_new_password_invert}
                text_repeat_new_password={text_repeat_new_password}
          />
          <Notification data_id="notification"
              description_notifications_text={description_notifications_text}
              subtitle_notifications_text={subtitle_notifications_text}
              subdescription_notifications_text={subdescription_notifications_text}
              subtitle2_notifications_text={subtitle2_notifications_text}
              subdescription2_notifications_text={subdescription2_notifications_text}
              title_movements_text={title_movements_text}
              title_Transfer_text={title_Transfer_text}
              title_others_text={title_others_text}
              notifications_text={notifications_text}
              title_loan_text={title_loan_text}
          />
        </div>
      </section>
    </div>
  </section>
  ): (
    <div>
      {err}
    </div>
  )
}