---
interface Props{
    class: string;
    class_content: string;
    id: string;
    id_inter_content: string;
    id_background: string;
    id_close: string;
}
---

<div id={Astro.props.id} class=`popup top-20 w-screen h-fit justify-center items-center p-5 drop-shadow-lg ${Astro.props.class_content}`>
    <div id={Astro.props.id_background} class="absolute w-full h-full bg-transparent cursor-pointer"></div>

    <div id={Astro.props.id_inter_content} class=`${Astro.props.class}`>
        
        <div id={Astro.props.id_close} class="absolute top-5 right-5 hover:bg-slate-800 cursor-pointer p-[.25rem] rounded-sm">
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x w-6 h-6 text-white">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </div>

        <slot/>
    </div>
</div>


<style>
    .drop-shadow-lg {
      --tw-drop-shadow: drop-shadow(0 0px 8px rgba(0, 0, 0, 0.06)) drop-shadow(0 0px 3px rgba(0, 0, 0, 0.6));
    }
    .popup{
        z-index: 10;
        --tw-bg-opacity: .75;
        background-color: rgba(13, 17, 23, var(--tw-bg-opacity));
    }
</style>
