---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Banner from "../components/Banner.astro"
import Info from "../components/Info.astro"
import ArrowFloat from "../components/ArrowFloat.astro"
import ArticleLeft from "../components/ArticleLeft.astro"
import ArticleRight from "../components/ArticleRight.astro"

const response = await fetch("http://localhost:4000/words");

const data = await response.json();

---

<Layout title="Sebxstt - Inicio">
    <Header href_image="/" href_signin="./SignIn" href_signup="./SignUp"></Header>
    <Banner link_first=""></Banner>
    <Info id="SectionCenter">
        {
            "es" === "es" ? (
                <div>
                    <ArticleLeft id="online" title={data[1].es} description={data[0].es} image="/background/online.png"></ArticleLeft>
                    <ArticleRight id="cuota" title={data[3].es} description={data[2].es} image="/background/cuota.png"></ArticleRight>
                    <ArticleLeft id="pay" title={data[5].es} description={data[4].es} image="/background/pay.png"></ArticleLeft>
                    <ArticleRight id="tasa" title={data[7].es} description={data[6].es} image="/background/tasa.png"></ArticleRight>
                </div>
            ) : (
                <div>
                    <ArticleLeft id="online" title={data[1].en} description={data[0].en} image="/background/online.png"></ArticleLeft>
                    <ArticleRight id="cuota" title={data[3].en} description={data[2].en} image="/background/cuota.png"></ArticleRight>
                    <ArticleLeft id="pay" title={data[5].en} description={data[4].en} image="/background/pay.png"></ArticleLeft>
                    <ArticleRight id="tasa" title={data[7].en} description={data[6].en} image="/background/tasa.png"></ArticleRight>
                </div>
            )
        }
    </Info>
    <Footer></Footer>
    <ArrowFloat id="ButtonFloat"></ArrowFloat>
</Layout>

