---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Banner from "../components/Banner.astro"
import Info from "../components/Info.astro"
import ArrowFloat from "../components/ArrowFloat.astro"
import ArticleLeft from "../components/ArticleLeft.astro"
import ArticleRight from "../components/ArticleRight.astro"

interface WordItem{
    word: string;
    es: string;
    en: string;
}

const response = await fetch("http://localhost:4000/words");

const data: WordItem[] = await response.json();

let response_variables = await fetch("http://localhost:4000/variables/res");

let data_variables = await response_variables.json();

let text = {
    titulo_inicio: (data.find(item => item.word === "titulo_inicio") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    nombre_inicio: (data.find(item => item.word === "nombre_inicio") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    descripcion_inicio: (data.find(item => item.word === "descripcion_inicio") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    calcular_inicio: (data.find(item => item.word === "calcular_inicio") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    online_title: (data.find(item => item.word === "article_1_titulo") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    online_description: (data.find(item => item.word === "article_1_description") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    cuota_title: (data.find(item => item.word === "article_2_titulo") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    cuota_description: (data.find(item => item.word === "article_2_description") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    pay_title: (data.find(item => item.word === "article_3_titulo") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    pay_description: (data.find(item => item.word === "article_3_description") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    tasa_title: (data.find(item => item.word === "article_4_titulo") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    tasa_description: (data.find(item => item.word === "article_4_description") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    recursos_footer_titulo: (data.find(item => item.word === "recursos_footer_titulo") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    recursos_item_1: (data.find(item => item.word === "recursos_item_1") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    recursos_item_2: (data.find(item => item.word === "recursos_item_2") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    recursos_item_3: (data.find(item => item.word === "recursos_item_3") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    recursos_item_4: (data.find(item => item.word === "recursos_item_4") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    siganos_footer_titulo: (data.find(item => item.word === "siganos_footer_titulo") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    siganos_item_1: (data.find(item => item.word === "siganos_item_1") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    siganos_item_2: (data.find(item => item.word === "siganos_item_2") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    legal_footer_titulo: (data.find(item => item.word === "legal_footer_titulo") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    legal_item_1: (data.find(item => item.word === "legal_item_1") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    legal_item_2: (data.find(item => item.word === "legal_item_2") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    rights_footer: (data.find(item => item.word === "rights_footer") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    iniciar_text: (data.find(item => item.word === "iniciar_text") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    registrarse_text: (data.find(item => item.word === "registrarse_text") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
};

export let newResponse_variables = await fetch("http://localhost:4000/variables/res");
export let newData_variables = await newResponse_variables.json();
export let initiated = await newData_variables.initiated;

---

<Layout title="Sebxstt - Inicio">
    <Header
        href_image="/"
        href_signin="./SignIn"
        href_signup="./SignUp"
        registrarse_text={text.registrarse_text}
        iniciar_text={text.iniciar_text}
    ></Header>
    <Banner
        titulo_inicio={text.titulo_inicio}
        nombre_inicio={text.nombre_inicio}
        descripcion_inicio={text.descripcion_inicio}
        calcular_inicio={text.calcular_inicio}
        titulo_item_1={text.online_title}
        titulo_item_2={text.cuota_title}
        titulo_item_3={text.pay_title}
        titulo_item_4={text.tasa_title}
    ></Banner>
    <Info id="SectionCenter">
        <div>
            <ArticleLeft
                id="online"
                title={text.online_title}
                description={text.online_description}
                image="/background/online.png"
            ></ArticleLeft>
            <ArticleRight
                id="cuota"
                title={text.cuota_title}
                description={text.cuota_description}
                image="/background/cuota.png"
            ></ArticleRight>
            <ArticleLeft
                id="pay"
                title={text.pay_title}
                description={text.pay_description}
                image="/background/pay.png"
            ></ArticleLeft>
            <ArticleRight
                id="tasa"
                title={text.tasa_title}
                description={text.tasa_description}
                image="/background/tasa.png"
            ></ArticleRight>
        </div>
    </Info>
    <Footer
        recursos_footer_titulo={text.recursos_footer_titulo}
        recursos_item_1={text.recursos_item_1}
        recursos_item_2={text.recursos_item_2}
        recursos_item_3={text.recursos_item_3}
        recursos_item_4={text.recursos_item_4}
        siganos_footer_titulo={text.siganos_footer_titulo}
        siganos_item_1={text.siganos_item_1}
        siganos_item_2={text.siganos_item_2}
        legal_footer_titulo={text.legal_footer_titulo}
        legal_item_1={text.legal_item_1}
        legal_item_2={text.legal_item_2}
        rights_footer={text.rights_footer}
    ></Footer>
    <ArrowFloat id="ButtonFloat"></ArrowFloat>
</Layout>
