---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Section from "../components/Section.astro"
import FormLogin from "../components/FormLogin.astro"
import Footer from "../components/Footer.astro"

interface WordItem{
    word: string;
    es: string;
    en: string;
}

let response: Response;
let response_variables: Response;

let data: any;
let data_variables: any;

let text: any;

let isContinue = true;

try{
    response = await fetch("https://c2hccs03-4000.use2.devtunnels.ms/words");
    data = await response.json();
    response_variables = await fetch("https://c2hccs03-4000.use2.devtunnels.ms/variables/res");
    data_variables = await response_variables.json();
}catch(Exception){
    isContinue != isContinue;
    console.log(Exception)
}

if(isContinue){
    text = {
        crear_cuenta_text: (data.find((item: { word: string }) => item.word === "crear_cuenta_text") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        new_text: (data.find((item: { word: string }) => item.word === "new_text") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        email_text: (data.find((item: { word: string }) => item.word === "email_text") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        password_text: (data.find((item: { word: string }) => item.word === "password_text") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        forgot_password_text: (data.find((item: { word: string }) => item.word === "forgot_password_text") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        continue_with_text: (data.find((item: { word: string }) => item.word === "continue_with_text") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        registrarse_with_google: (data.find((item: { word: string }) => item.word === "registrarse_with_google") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        recursos_footer_titulo: (data.find((item: { word: string }) => item.word === "recursos_footer_titulo") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        recursos_item_1: (data.find((item: { word: string }) => item.word === "recursos_item_1") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        recursos_item_2: (data.find((item: { word: string }) => item.word === "recursos_item_2") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        recursos_item_3: (data.find((item: { word: string }) => item.word === "recursos_item_3") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        recursos_item_4: (data.find((item: { word: string }) => item.word === "recursos_item_4") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        siganos_footer_titulo: (data.find((item: { word: string }) => item.word === "siganos_footer_titulo") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        siganos_item_1: (data.find((item: { word: string }) => item.word === "siganos_item_1") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        siganos_item_2: (data.find((item: { word: string }) => item.word === "siganos_item_2") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        legal_footer_titulo: (data.find((item: { word: string }) => item.word === "legal_footer_titulo") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        legal_item_1: (data.find((item: { word: string }) => item.word === "legal_item_1") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        legal_item_2: (data.find((item: { word: string }) => item.word === "legal_item_2") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        rights_footer: (data.find((item: { word: string }) => item.word === "rights_footer") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        iniciar_text: (data.find((item: { word: string }) => item.word === "iniciar_text") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
        registrarse_text: (data.find((item: { word: string }) => item.word === "registrarse_text") || {})[data_variables.flag === "es" ? 'es' : 'en'] as string,
    };
}

---

<Layout title="Sebxstt - Sign In">
		<Header
			href_image="/"
			href_signin="./SignIn"
			href_signup="./SignUp"
			registrarse_text={text.registrarse_text}
			iniciar_text={text.iniciar_text}
		></Header>
		<Section>
		<FormLogin
			registrarse_text={text.iniciar_text}
			crear_cuenta_text={text.crear_cuenta_text}
			new_text={text.new_text}
			email_text={text.email_text}
			password_text={text.password_text}
			forgot_password_text={text.forgot_password_text}
			continue_with_text={text.continue_with_text}
			registrarse_with_google={text.registrarse_with_google}
		>
		</FormLogin>
		<Footer
        recursos_footer_titulo={text.recursos_footer_titulo}
        recursos_item_1={text.recursos_item_1}
        recursos_item_2={text.recursos_item_2}
        recursos_item_3={text.recursos_item_3}
        recursos_item_4={text.recursos_item_4}
        siganos_footer_titulo={text.siganos_footer_titulo}
        siganos_item_1={text.siganos_item_1}
        siganos_item_2={text.siganos_item_2}
        legal_footer_titulo={text.legal_footer_titulo}
        legal_item_1={text.legal_item_1}
        legal_item_2={text.legal_item_2}
        rights_footer={text.rights_footer}
    	></Footer>
	</Section>
</Layout>

<script>
	
</script>