---
import PopupBase from './user/PopupBase.astro';
import SpanNotification from './user/SpanNotification.astro';
import {SignIn} from 'auth-astro/components';

interface Props{
    registrarse_text: string;
    crear_cuenta_text: string;
    new_text: string;
    email_text: string;
    password_text: string;
    forgot_password_text: string;
    continue_with_text: string;
    registrarse_with_google: string;
    description_forgot_password: string;
    type_email: string;
    send_code: string;
    text_recover_code: string;
    description_recover_code: string;
    type_recover_code: string;
    text_confirm_code: string;
    text_new_password_invert: string;
    text_new_password: string;
    text_repeat_new_password: string;
    description_new_password: string;
    text_confirm: string;
    text_password_update: string;
}

const {registrarse_text,
    crear_cuenta_text,
    new_text,email_text,
    password_text,
    forgot_password_text
    ,continue_with_text,
    registrarse_with_google,
    description_forgot_password,
    type_email,
    send_code,
    text_recover_code,
    description_recover_code,
    type_recover_code,
    text_confirm_code,
    text_new_password_invert,
    text_new_password,
    text_repeat_new_password,
    description_new_password,
    text_confirm,
    text_password_update
    } = Astro.props;

---

<form id="formSignIn" class="bg-transparent relative top-20 py-10 px-5 max-w-[35rem] w-full flex flex-col justify-center items-center gap-y-6 m-5">
    <div id="background-blur" class="absolute w-full h-full flex bg-[rgba(255,255,255,.02)] border border-gray-600 rounded-lg backdrop-blur-lg"></div>
    <div class="w-full flex flex-col justify-center items-center gap-y-2 z-2">
        <h2 class="text-white font-bold text-2xl relative">
            {registrarse_text}
        </h2>
        <span class="text-gray-300 font-light text-base relative">
            {new_text}? <a class="text-white underline font-normal" href="/SignUp">{crear_cuenta_text}</a>
        </span>
    </div>
    <div class="w-full flex flex-col z-2">
        <label for="input-email" class="block mb-2 text-sm font-medium text-white relative">{email_text}</label>
        <div class="relative mb-0">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                    <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                    <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                </svg>
            </div>
            <input type="email" id="input-email" class="mb-1 outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-800 border-slate-800 placeholder-gray-400" placeholder="email@example.com" required>
        </div>
        <span id="err-email" class="relative text-sm mx-2 mb-5 text-[tomato] transition-all duration-500 opacity-0"></span>
        <label for="input-password" class="block mb-2 text-sm font-medium text-white relative">{password_text}</label>
        <div class="relative mb-0">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-key w-5 h-5 text-gray-500 dark:text-gray-400" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z" />
                    <path d="M15 9h.01" />
                </svg>
            </div>
            <input type="password" id="input-password" class="mb-1 outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-800 border-slate-800 placeholder-gray-400" placeholder={password_text} required>
        </div>
        <span id="err-password" class="relative text-sm mx-2 mb-0 text-[tomato] transition-all duration-500 opacity-0"></span>
    </div>
    <div class="w-full flex justify-end items-center">
        <a class="text-white fond-bold underline relative cursor-pointer" id="btn-forward">{forgot_password_text}</a>
    </div>
    <div class="w-full flex justify-center items-center relative">
        <button type="submit" id="submit-signin" class="w-full text-white outline-none text-bold text-base bg-slate-800 hover:bg-slate-800/90 focus:ring-slate-700 focus:ring-4 font-medium rounded-lg px-5 py-4 text-center inline-flex items-center justify-center me-2 mb-2">
            {registrarse_text}
        </button>
    </div>
    <div class="w-full flex justify-center items-center py-1 relative text-white">
        <span>
            {continue_with_text}
        </span>
    </div>
    <div class="w-full flex justify-center items-center relative">
        <SignIn provider="google" type="button" class="w-full text-white outline-none bg-gradient-to-r to-[#0074D3] from-[#0040A8] hover:opacity-70 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-4 text-center inline-flex items-center justify-center dark:focus:ring-[#4285F4]/55 me-2 mb-2">
            <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
                <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
            </svg>
            {registrarse_with_google}
        </SignIn>
    </div>
</form>

<PopupBase 
    class="relative w-[30rem] -top-10 py-5 rounded-md z-10 bg-slate-700 mb-5" 
    id="popup-center-forward" 
    class_content="hidden h-screen fixed" 
    id_inter_content="popup-inter-forward"
    id_background="background-popup-forward" 
    id_close="close-forward"
    >
    <div class="p-5 border-b-[1px] mb-5">
        <h1 class="text-2xl font-bold text-white">{forgot_password_text}</h1>
    </div>

    <form id="form-forward" class="px-5 pt-0">

        <div class="w-full flex justify-center items-center mb-5 text-gray-300">
            <p>
                {description_forgot_password}
            </p>
        </div>

        <label for="input-email-forward" class="block mb-2 ml-0 text-sm font-medium text-white relative">{type_email}</label>
        <div class="relative mb-0">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-id w-5 h-5 text-gray-500 dark:text-gray-400">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v10a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
                    <path d="M9 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M15 8l2 0" />
                    <path d="M15 12l2 0" />
                    <path d="M7 16l10 0" />
                </svg>
            </div>
            <input type="email" id="input-email-forward" class="outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-800 border-slate-800 placeholder-gray-400" placeholder={email_text} required>
        </div>
        <span id="err-email-forward" class="relative text-sm mx-2 mb-2.5 text-[tomato] transition-all duration-500 opacity-0">Prueba</span>

        <div class="w-full flex justify-center items-center relative mt-3">
            <button type="submit" class="w-full max-w-[13rem] transition-all duration-300 text-black outline-none text-bold text-base bg-white hover:bg-whit hover:bg-black hover:text-white focus:ring-slate-800 focus:ring-4 font-medium rounded-lg px-5 py-3 text-center inline-flex items-center justify-center mb-2">
                <span id="text-submit-code" class="flex">
                    {send_code}
                </span>
                <div id="loader-submit-code" class="hidden border-[5px] border-t-[5px] border-t-[#3498db] border-[#8f8f8f] w-[30px] h-[30px] animate-spin-custom rounded-[50%]"></div>
            </button>
        </div>
    </form>
</PopupBase>

<PopupBase 
    class="relative w-[30rem] -top-10 py-5 rounded-md z-10 bg-slate-700 mb-5" 
    id="popup-center-forward-code" 
    class_content="hidden h-screen fixed" 
    id_inter_content="popup-inter-forward-code"
    id_background="background-popup-forward-code" 
    id_close="close-forward-code"
    >
    <div class="p-5 border-b-[1px] mb-5">
        <h1 class="text-2xl font-bold text-white">{text_recover_code}</h1>
    </div>

    <form id="form-forward-code" class="px-5 pt-0">

        <div class="w-full flex justify-center items-center mb-5 text-gray-300">
            <p>
                {description_recover_code}
            </p>
        </div>

        <label for="input-forward-code" class="block mb-2 ml-0 text-sm font-medium text-white relative">{type_recover_code}</label>
        <div class="relative mb-0">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-id w-5 h-5 text-gray-500 dark:text-gray-400">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v10a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
                    <path d="M9 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M15 8l2 0" />
                    <path d="M15 12l2 0" />
                    <path d="M7 16l10 0" />
                </svg>
            </div>
            <input type="number" id="input-forward-code" class="outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4 bg-slate-800 border-slate-800 placeholder-gray-400" placeholder={text_recover_code} required oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6">
        </div>
        <span id="err-forward-code" class="relative text-sm mx-2 mb-2.5 text-[tomato] transition-all duration-500 opacity-0">Prueba</span>

        <div class="w-full flex justify-center items-center relative mt-3">
            <button type="submit" class="w-full max-w-[13rem] transition-all duration-300 text-black outline-none text-bold text-base bg-white hover:bg-whit hover:bg-black hover:text-white focus:ring-slate-800 focus:ring-4 font-medium rounded-lg px-5 py-3 text-center inline-flex items-center justify-center mb-2">
                {text_confirm_code}
            </button>
        </div>
    </form>
</PopupBase>

<PopupBase 
    class="relative w-[30rem] -top-10 py-5 rounded-md z-10 bg-slate-700 mb-5" 
    id="popup-center-forward-password" 
    class_content="hidden h-screen fixed" 
    id_inter_content="popup-inter-forward-password"
    id_background="background-popup-forward-password" 
    id_close="close-forward-password"
    >
    <div class="p-5 border-b-[1px] mb-5">
        <h1 class="text-2xl font-bold text-white">{text_new_password_invert}</h1>
    </div>

    <form id="form-forward-password" class="px-5 pt-0">

        <div class="w-full flex justify-center items-center mb-5 text-gray-300">
            <p>
                {description_new_password}
            </p>
        </div>

        <label for="input-forward-password-first" class="block mb-2 ml-0 text-sm font-medium text-white relative">{text_new_password}</label>
        <div class="relative mb-0">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-id w-5 h-5 text-gray-500 dark:text-gray-400">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v10a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
                    <path d="M9 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M15 8l2 0" />
                    <path d="M15 12l2 0" />
                    <path d="M7 16l10 0" />
                </svg>
            </div>
            <input type="password" id="input-forward-password-first" class="outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4 bg-slate-800 border-slate-800 placeholder-gray-400" placeholder={text_new_password} required>
        </div>
        <span id="err-forward-password-first" class="relative text-sm mx-2 mb-4 text-[tomato] transition-all duration-500 opacity-0">Prueba</span>

        <label for="input-forward-password-second" class="block mb-2 ml-0 text-sm font-medium text-white relative">{text_repeat_new_password}</label>
        <div class="relative mb-0">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-id w-5 h-5 text-gray-500 dark:text-gray-400">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v10a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
                    <path d="M9 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M15 8l2 0" />
                    <path d="M15 12l2 0" />
                    <path d="M7 16l10 0" />
                </svg>
            </div>
            <input type="password" id="input-forward-password-second" class="outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4 bg-slate-800 border-slate-800 placeholder-gray-400" placeholder={text_repeat_new_password} required>
        </div>
        <span id="err-forward-password-second" class="relative text-sm mx-2 mb-4 text-[tomato] transition-all duration-500 opacity-0">Prueba</span>

        <div class="w-full flex justify-center items-center relative mt-3">
            <button type="submit" class="w-full max-w-[13rem] transition-all duration-300 text-black outline-none text-bold text-base bg-white hover:bg-whit hover:bg-black hover:text-white focus:ring-slate-800 focus:ring-4 font-medium rounded-lg px-5 py-3 text-center inline-flex items-center justify-center mb-2">
                {text_confirm}
            </button>
        </div>
    </form>
</PopupBase>

<SpanNotification
    message={text_password_update}
    class_toast='hidden'
/>

<style>
    #background-blur{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
</style>