---
import 'animate.css';

interface Props{
[x: string]: any;
    href_image: string;
    href_signin: string;
    href_signup: string;

    // Props for translate
    registrarse_text: string;
    iniciar_text: string;
}

let newData_variables = await fetch("http://localhost:4000/variables/res").then(response => response.json());

const {href_image, href_signin, href_signup, registrarse_text, iniciar_text} = Astro.props;

---

<header class=`fixed w-screen h-20 flex flex-col justify-center items-center ${Astro.props.class}`>
    <div id="content-header" class="w-full max-w-7xl max-xl:px-5 max-md:gap-y-5 grid py-2 z-15 bg-transparent">
        <a href={href_image} class="flex justify-left items-center cursor-pointer">
            <svg id="icon-header" class="icon icon-tabler icon-tabler-steam w-16 h-16" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="white" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                <path d="M4 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                <path d="M20 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                <path d="M12 20m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                <path d="M5.5 5.5l3 3"/>
                <path d="M15.5 15.5l3 3"/>
                <path d="M18.5 5.5l-3 3"/>
                <path d="M8.5 15.5l-3 3"/>
            </svg>
        </a>
    
        <div class="flex gap-x-5 justify-end items-center px-3">
    
            <div class="flex items-center justify-center gap-x-5">

                {
                    newData_variables.initiated == "false" ? (
                        <a href={href_signin} class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-md text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                            
                            <span class="max-lg:hidden">
                                {iniciar_text}
                            </span>
            
                            <span class="lg:hidden">
                                <svg class="icon icon-tabler icon-tabler-login-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                                    <path d="M3 12h13l-3 -3" />
                                    <path d="M13 15l3 -3" />
                                </svg>
                            </span>
                        </a>

                        <a href={href_signup} class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            <span class="max-lg:hidden">
                                {registrarse_text}
                            </span>
            
                            <span class="lg:hidden">
                                <svg class="icon icon-tabler icon-tabler-user-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                                    <path d="M16 19h6" />
                                    <path d="M19 16v6" />
                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                                </svg>
                            </span>
                        </a>
                    ) : (
                        <div class="relative">            
                            <span id="button_config"  class="relative cursor-pointer bg-gray-800 hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-md text-sm px-5 py-2.5 flex w-full h-full">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-settings-2">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
                                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                </svg>
                            </span>
                            
                            <div id="list_config" class="transition-all duration-300 hidden cursor-pointer flex-col gap-1 w-36 absolute mt-2 bg-slate-800 h-fit p-1.5 rounded-sm">
                                <div class="flex gap-x-2 justify-center items-center w-full px-2 py-2 text-white bg-gray-900 hover:bg-gray-950 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-md" data-flag="en" data-flag-src="../../public/flags/usa.svg">
                                    <span>
                                        Theme
                                    </span>
                                </div>

                                <div class="flex gap-x-2 justify-center items-center w-full px-2 py-2 text-white bg-gray-900 hover:bg-gray-950 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-md" data-flag="en" data-flag-src="../../public/flags/usa.svg">
                                    <span>
                                        Notifications
                                    </span>
                                </div>

                                <div class="flex gap-x-2 justify-center items-center w-full px-2 py-2 text-white bg-gray-900 hover:bg-gray-950 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-md" data-flag="en" data-flag-src="../../public/flags/usa.svg">
                                    <span>
                                        Settings
                                    </span>
                                </div>

                                <div id="button_logout" class="flex gap-x-2 justify-center items-center w-full px-2 py-2 text-white bg-gray-900 hover:bg-gray-950 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-md" data-flag="en" data-flag-src="../../public/flags/usa.svg">
                                    <span>
                                        Log out
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="relative">            
                            <span class="relative cursor-pointer bg-gray-800 hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-md text-sm px-5 py-2.5 flex w-full h-full">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="7"  height="7"  viewBox="0 0 24 24"  fill="tomato"  class="absolute translate-x-[1.1rem] icon icon-tabler icons-tabler-filled icon-tabler-circle">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z" />
                                </svg>
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="relative icon icon-tabler icons-tabler-outline icon-tabler-bell">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                                    <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                                </svg>
                            </span>
                        </div>
                    )
                }

                <div class="relative w-20 h-fit cursor-pointer text-whitefont-medium rounded-md text-sm">
                    <span id="actual-flag" class="flex gap-x-2 justify-center items-center bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 px-2 py-2 rounded-md" data-flag-now="es" data-flag-src="../../public/flags/espana.svg">
                        <img src="../../public/flags/espana.svg" class="w-6 h-6" alt="">

                        <span>
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-caret-down rotate-90 transition-all duration-300">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M6 10l6 6l6 -6h-12" />
                            </svg>
                        </span>
                    </span>

                    <div id="list-flags" class="transition-all duration-300 flex cursor-pointer flex-col gap-x-2 w-full h-5 absolute mt-1 text-white bg-blue-700 focus:ring-blue-300 font-medium rounded-md text-sm dark:bg-blue-600 focus:outline-none dark:focus:ring-blue-800">
                        <div class="flex gap-x-2 justify-center items-center w-full px-2 py-2 bg-blue-600 hover:bg-blue-700 focus:ring-4 rounded-md" data-flag="en" data-flag-src="../../public/flags/usa.svg">
                            <img src="../../public/flags/usa.svg" class="w-6 h-6" alt="">

                            <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<style>
    #content-header{
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr;
    }

    #list-flags{
        display: none;
    }

    header{
        z-index: 50;
        --tw-bg-opacity: .75;
        background-color: rgba(13, 17, 23, var(--tw-bg-opacity));
        border-bottom-width: 1px;
        --tw-border-opacity: 1;
        border-color: rgba(32, 38, 47, var(--tw-border-opacity));
        backdrop-filter:blur(3px);
        backface-visibility: hidden;
        perspective: 1000px;
        transform: translateZ(0px);
    }

    .initiated{
        display: flex;
    }

    .no_initiated{
        display: none;
    }
</style>

<script>

    import {encrypt} from "../js/index.js";

    let actual_element = document.querySelector("#actual-flag") as HTMLSpanElement;
    let list_flags = document.querySelector("#list-flags") as HTMLDivElement;

    actual_element?.addEventListener("click", () =>{
        let svg = actual_element?.querySelector("span") as HTMLSpanElement;
        if(window.getComputedStyle(list_flags).display == "none"){
            svg.style.transform = "rotate(0deg)";
            list_flags.style.display = "flex";
        }else{
            svg.style.transform = "rotate(90deg)";
            list_flags.style.display = "none";
        }
    });

    let button_config = document.querySelector("#button_config") as HTMLButtonElement;
    let list_config = document.querySelector("#list_config") as HTMLDivElement;

    if(button_config){
        button_config.addEventListener("click", () =>{
            if(window.getComputedStyle(list_config).display != "none"){
                list_config.style.display = "none";
            }else{
                list_config.style.display = "flex";
            }
        });
    }

    let button_logout = document.querySelector("#button_logout") as HTMLButtonElement;

    if(button_logout){
        button_logout.addEventListener("click", () => {
            let encryptedInitiated = encrypt("false");
            localStorage.setItem("W-INIT-ENT", encryptedInitiated);

            let data = {
                flag: localStorage.getItem("flag"),
                initiated: localStorage.getItem("W-INIT-ENT"),
            }

            fetch("http://localhost:4000/variables", {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json"
                }
            })

            window.location.reload();
        });
    }

    list_flags.querySelectorAll("div").forEach(item => {
        item.addEventListener("click", () => {

            if(item.getAttribute("data-flag") == "es"){
                actual_element.setAttribute("data-flag-now", "es")
                item.setAttribute("data-flag", "en")
                localStorage.setItem("flag", "es");
            }else if(item.getAttribute("data-flag") == "en"){
                actual_element.setAttribute("data-flag-now", "en")
                item.setAttribute("data-flag", "es")
                localStorage.setItem("flag", "en");
            }

            let srcImage = item.querySelector("img")?.src.split("/") as string[];
            let src = transformSrc(srcImage);
            let srcImageNow = actual_element.querySelector("img")?.src.split("/") as string[];
            let srcNow = transformSrc(srcImageNow);
            let imgActualElement = actual_element.querySelector("img") as HTMLImageElement;
            imgActualElement.src = src;
            let imgItem = item.querySelector("img") as HTMLImageElement;
            imgItem.src = srcNow;

            let data = {
                flag: localStorage.getItem("flag"),
                initiated: localStorage.getItem("W-INIT-ENT"),
            }

            fetch("http://localhost:4000/variables", {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json"
                }
            })

            let svg = actual_element?.querySelector("span") as HTMLSpanElement;

            svg.style.transform = "rotate(90deg)";
            list_flags.style.display = "none";

            window.location.reload();
        })
    });

    function transformSrc(srcImage : string[]){
        let src = "";
        for(let i = 0; i < srcImage.length; i++){
                if(i > 2){
                    src += "/" + srcImage[i]
                }
        }
        return src;
    }

    function changeFlag(flag: string, src: string){
    let attrSrc = actual_element.getAttribute("data-flag-src") as string;
    let attrFlag = actual_element.getAttribute("data-flag-now") as string;
    actual_element.setAttribute("data-flag-now", flag);
    actual_element.setAttribute("data-flag-src", src);

    list_flags.querySelectorAll("div").forEach((item) =>{
        if(item.getAttribute("data-flag") == flag){
            item.setAttribute("data-flag", attrFlag);
            item.setAttribute("data-flag-src", attrSrc);
        }
    })
}

</script>