---
import SpanNotification from './user/SpanNotification.astro';

interface Props{
  data_id: string;
  username: string;
  id: string;
  email: string;
  phone: string;
  income_monthly: string,

  //Translate
  title_profile_text: string,
  description_profile_text: string,
  subtitle_profile_text: string,
  description_subtitle_profile_text: string,
  update_text: string,
  profile_picture_text: string,
  description_profile_picture_text: string,

  //Exists
  username_text: string,
  id_number_text: string,
  phone_text: string,
  email_text: string,
  income_monthly_text: string,
}

//Variables translate
const {title_profile_text, description_subtitle_profile_text, subtitle_profile_text,
    description_profile_picture_text, description_profile_text, profile_picture_text,
    update_text, username_text, id_number_text, phone_text, email_text, income_monthly_text
} = Astro.props;

const {data_id, username, id, email, phone, income_monthly} = Astro.props;

import {getSession} from 'auth-astro/server';
const session = await getSession(Astro.request);
let img_profile: any;

if(session){
  img_profile = session.user?.image;
}else{
  img_profile = "false"
}
---

<div class="flex flex-col overflow-y-auto overflow-x-hidden pb-10" id="sub_sections_configurations" data-id={data_id}>
  <div class="w-full h-fit border-b-2 border-gray-300 pb-2 mb-3">
    <h1 class="text-white text-2xl font-semibold">
      {title_profile_text}
    </h1>
    <h4 class="text-gray-300 text-base font-light">
      {description_profile_text}
    </h4>
  </div>

  <div class="w-full h-fit border-b-2 border-gray-300 py-2 px-3">
    <h3 class="text-white text-base">{subtitle_profile_text}</h3>
    <h4 class="text-gray-300 text-base font-light">
      {description_subtitle_profile_text}
    </h4>

    <form id="form_update" class="flex flex-col">
      <div class="grid grid-cols-2 gap-6 max-sm:grid-cols-1 mt-4">
        <div>
          <p class="text-white text-base">{username_text}</p>
          <input
            type="text"
            id="username-update"
            name="username-update"
            class="w-full bg-gray-800 text-gray-200 border border-gray-600 rounded-md px-4 py-2 mt-1 mb-2"
            placeholder={username_text}
            value={username}
          />
          <span id="err-username-update" class="relative text-sm mx-2 text-[tomato] transition-all duration-500 opacity-0"></span>
        </div>

        <div>
          <p class="text-white text-base">{id_number_text}</p>
          <input
            type="number"
            id="id-update"
            name="id-update"
            class="w-full bg-gray-800 text-gray-200 border border-gray-600 rounded-md px-4 py-2 mt-1 mb-2"
            placeholder={id_number_text}
            value={id}
          />
          <span id="err-id-update" class="relative text-sm mx-2 text-[tomato] transition-all duration-500 opacity-0"></span>
        </div>
        
        <div>
          <p class="text-white text-base">{phone_text}</p>
          <input
            type="number"
            id="phone-update"
            name="phone-update"
            class="w-full bg-gray-800 text-gray-200 border border-gray-600 rounded-md px-4 py-2 mt-1 mb-2"
            placeholder={phone_text}
            value={phone}
          />
          <span id="err-phone-update" class="relative text-sm mx-2 text-[tomato] transition-all duration-500 opacity-0"></span>
        </div>
        
        <div>
          <p class="text-white text-base">{email_text}</p>
          <input
            type="email"
            id="email-update"
            name="email-update"
            class="w-full bg-gray-800 text-gray-200 border border-gray-600 rounded-md px-4 py-2 mt-1 mb-2"
            placeholder={email_text}
            value={email}
          />
          <span id="err-email-update" class="relative text-sm mx-2 text-[tomato] transition-all duration-500 opacity-0"></span>
        </div>

        <div>
          <p class="text-white text-base">{income_monthly_text}</p>
          <input
            type="number"
            id="income-update"
            name="income-update"
            class="w-full bg-gray-800 text-gray-200 border border-gray-600 rounded-md px-4 py-2 mt-1 mb-2"
            placeholder={income_monthly_text}
            value={income_monthly}
          />
          <span id="err-income-update" class="relative text-sm mx-2 text-[tomato] transition-all duration-500 opacity-0"></span>
        </div>
      </div>
      
      <div class="flex items-center justify-center my-3">
        <button
          id="update_btn"
          type="submit"
          class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-md mt-4 mx-auto">{update_text}</button
        >
      </div>
    </form>
  </div>

  <div class="w-full h-fit border-b-2 border-gray-300 py-7 px-3 flex flex-row items-center">      
      <div class="flex max-[450px]:flex-col justify-start items-center gap-3 w-full h-fit">
        <div class="flex items-center justify-start w-36 mt-5">
          <label for="dropzone-file" class="relative rounded-[50%] w-32 h-32 flex flex-col items-center justify-center border-2 border-dashed cursor-pointer hover:bg-bray-800 bg-gray-700 border-gray-600 hover:border-gray-500 hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6 w-full z-10">
                <svg class="h-10 mb-0 text-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
            </div>
            <!-- Imagen por defecto -->
            {
              img_profile != "false" ? (
                <img src={img_profile} id="image_profile" class="w-full h-full object-cover rounded-[50%] absolute"/>
              ) : (
                <img id="image_profile" src="" class="w-full h-full object-cover rounded-[50%] absolute"/>
              )
            }
            <input id="dropzone-file" type="file" class="hidden" />
        </label>
        
        </div>  
        <div class="max-[450px]:w-full flex flex-col">
          <h2 class="text-white text-lg font-semibold">
              {profile_picture_text}
          </h2>
          <h4 class="text-gray-300 text-base font-light">
              {description_profile_picture_text}
          </h4>
        </div>
      </div>
  </div>
</div>

<SpanNotification
  message="Informacion de actualizada con exito."
  class_toast="hidden"
  id_toast='toast-update'
/>

<script>

</script>
