---
interface Props{
    data_id: string;
    data_history_2fa: any,
    devices_2fa: any,

    //Translate
    title_security_text: string,
    description_security_text: string,
    subtitle_security_text: string,
    subdescription_security_text: string,
    subtitle2_security_text: string,
    subdescription2_security_text: string,
    active_2fa_text: string,
    configure_2fa_text: string,
    code_auth_text: string,

    //Exists
    text_confirm: string,
    email_text: string
}

//Variables translate
const {title_security_text, description_security_text, subtitle_security_text,
    subdescription_security_text, subtitle2_security_text, subdescription2_security_text,
    active_2fa_text, configure_2fa_text, code_auth_text, text_confirm, email_text,
    data_history_2fa, devices_2fa
} = Astro.props;

const {data_id} = Astro.props;

---

<div class="flex-col overflow-y-auto hidden pb-10" id="sub_sections_configurations"  data-id={data_id}>
    <div class="w-full h-fit border-b-2 border-gray-300 pb-5">
        <h1 class="text-white text-2xl font-semibold">
            {title_security_text}
        </h1>
        <h4 class="text-gray-300 text-lg font-light">
            {description_security_text}
        </h4>
    </div>

    <div class="w-full h-fit border-b-2 border-gray-300 py-7 px-3">
        <h2 class="text-white text-lg">
            {subtitle_security_text}
        </h2>
        <h4 class="text-gray-300 text-base font-light">
            {subdescription_security_text}
        </h4>

        <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-5 mt-4 w-fit">
            <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" id="activateTwoStep" class="sr-only peer"/>
                <div class="relative w-11 h-6 peer-focus:outline-none peer-focus:ring-4 rounded-full peer bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all border-gray-600 peer-checked:bg-blue-600">
                </div>
                <span class="ms-3 text-base font-semibold text-gray-200">{active_2fa_text}</span>
            </label>
        </div>

        <form id="twoStepConfiguration" class="fixed inset-0 z-50 hidden items-center justify-center bg-black/50">
            <div class="bg-zinc-800 p-8 rounded-lg shadow-lg flex flex-col items-center gap-4 animate-deployment">
                <h2 class="text-3xl font-semibold mb-4">
                    {subtitle_security_text}
                </h2>
                <div class="flex flex-col gap-5 w-full">
                    <div class="flex flex-col gap-4 w-full p-5 rounded-lg bg-stone-600">
                        <label id="codeAutentication" class="p-0 flex flex-col items-center animate-deployment">
                            <input type="email" id="email" class="outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder={email_text} required />
                        </label>
                    </div>

                </div>
                <button id="confirmConfiguration" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md">
                    {text_confirm}
                </button>
            </div>
        </form>
    </div>

    <div class="w-full h-fit py-7 px-3 flex flex-col gap-3">
        <h2 class="text-white text-lg">
            {subtitle2_security_text}
        </h2>
        <h4 class="text-gray-300 text-base font-light">
            {subdescription2_security_text}
        </h4>
        <section id="activityRegister" class="flex gap-5 max-[800px]:flex-col">
            <article class="flex flex-col gap-3 p-3 px-4 bg-slate-800/50 rounded">
                <h3 class="text-xl text-center text-white">Your Devices</h3>
                {
                    devices_2fa != undefined && devices_2fa.length > 0 ? (
                        devices_2fa.map((item: any) => (
                            <div class="flex items-center gap-2 p-2 bg-slate-900 rounded-lg">
                                {
                                    item.device_type == "desktop" ? (
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none">
                                            </path><path d="M3 5a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10z">
                                            </path><path d="M7 20h10"></path><path d="M9 16v4">
                                            </path><path d="M15 16v4"></path>
                                        </svg>
                                    ) : (
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z">
                                            </path><path d="M11 4h2"></path>
                                            <path d="M12 17v.01"></path>
                                        </svg>
                                    )
                                }
                                <p class="border-l-2 pl-2">{item.device_id.split("_").slice(0,2).join(' ')}</p>
                            </div>
                        ))
                    ) : (
                        <span class="text-gray-300">
                            Not found devices
                        </span>
                    )
                }
            </article>

            <!-- historial -->
            <article class="flex flex-col gap-3 p-3 bg-slate-800/50 rounded">
                <h3 class="text-xl text-center">Historial</h3>
                {
                    data_history_2fa != undefined && data_history_2fa.length > 0 ? (
                        data_history_2fa.map((item: any) => (
                            <div class="flex items-center gap-3 p-3 bg-slate-900 rounded-lg">
                                <i>
                                    {
                                        item.type == "desktop" ? (
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none">
                                                </path><path d="M3 5a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10z">
                                                </path><path d="M7 20h10"></path><path d="M9 16v4">
                                                </path><path d="M15 16v4"></path>
                                            </svg>
                                        ) : (
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z">
                                                </path><path d="M11 4h2"></path>
                                                <path d="M12 17v.01"></path>
                                            </svg>
                                        )
                                    }

                                </i>
                                <nav>
                                    <h4 class="font-semibold flex items-center gap-2">
                                        Nuevo Inicio de sesion <p>{item.device.split("_").slice(0,2).join(' ')}</p>
                                    </h4>
                                    <h5 class="opacity-50">
                                        {item.country}, {item.date.split(" ")[0]}, {item.date.split(" ")[1].split(":").slice(0,2).join(":")}
                                    </h5>
                                </nav>
                            </div>
                        ))
                    ) : (
                        <span class="text-gray-300">
                            Not found history devices
                        </span>
                    )
                }
            </article>
        </section>
    </div>
</div>
